
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

body{
    background: linear-gradient(60deg, #0800ff, #fb0000);
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container{
    background-color: rgb(242, 230, 230);
    height: 30rem;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0.2);
    
}

main h1 {
    font-weight: 550;
    margin-bottom: 40px;
    position: relative;
}

main h1::before{
    position: absolute;
    content: '';
    height: 5px;
    width: 33px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(60deg, #0800ff, #fb0000);
}

form{
    display: flex;
    flex-direction: column;
}

.input-field{
    position: relative;
}

.input-field input{
    outline: none;
    font-size: 0.9rem;
    color: rgb(0, 0, 0.7);
}

.input-field input::placeholder{
    color: rgb(0, 0, 0.5);
}

.logos{
    width: 30px;
    height: 30px;
}

.username{
    margin: 5px;
}

.password{
    margin: 5px;
    color: white;
    outline: none;
    
}


.button{
    color: white;
    margin: 5px;
    padding: 0.5rem;
    cursor: pointer;
    background: linear-gradient(60deg, #7f7dbc, #b46f6f);
    
    
}


 

